@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex-box;
  justify-content: center;
  align-items: center;
  width: auto;
  height:auto;
  background: transparent;
  width: auto;
}

#Navbar {
  opacity: 100%;
}

#hero {
  background-image: url("./assets/boat.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: max-content;
}
#hero-header {
  opacity: 100%;
}

.travelcard {
  background-image: url("mountain-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/* Centered text */
.centered {
  position: absolute;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  color: #020024;
  
  
}
