@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex-box;
  justify-content: center;
  align-items: center;
  width: auto;
  height:screen;
  background: transparent;
}

#Navbar {
  opacity: 100%;
}

#hero {
  background-image: url("./assets/boat.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#hero-header {
  opacity: 100%;
}

